{% extends "header.html" %}
{%block content%}
<style type="text/css">
  input{
  border: none;
  border-bottom: 2px solid darkcyan;
  outline: none;
  text-align:center;
  margin-top:2%;
  color:darkgreen;
  background-color:#acaaaa36 ;

  }
  body{
  background-color:#acaaaa36 ;
  }

  .fa{
  font-size:50px;
  }
  .imgsize{
  width:30px;
  margin-left:10px;}
  .loginbutton{
    width: 118px;
    height: 36px;
    background: darkcyan;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 600;
  }
  .iconsize{
      font-size:24px;
      margin-left:10px;
  color:darkcyan;
  }
</style>
<div style="margin-top:160px;">
{% if errorlogin%}
<p></p>
{%else%}
<p><div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error!</strong> {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div></p>
{%endif%}
<div class="container" style="text-align:center;">
    <h1>LOGIN</h1>
<div id="vue-app">
<form method = "POST" action="">
    <input type = "email" name="email"  style="width:250px;" placeholder = "Email" v-model="email"><br><br>
    <div style="margin-left:42px;"><input style="width:245px;" v-bind:type = "pastype" name="password" placeholder="Password"><span class="button-style" v-on:click="toggleing()"><i v-bind:class="toggle" aria-hidden="true"></i></span></div><br>
    <input class="loginbutton" type="submit" value="Login">
    <br>
</form>
</div>
</div>
</div>
    <script>
    new Vue({
    el:"#vue-app",
  data:{
    email:'',
    pass:'',
    toggle:"fa fa-eye iconsize",
    selection:'',
    pastype:'password',
    counter:0,
    datas:[]
  },
  methods:{
  counterchanger:function(){
  this.counter = this.counter + 1;
  },
    toggleing:function(){
      if (this.toggle =="fa fa-eye iconsize"){
        this.toggle="fa fa-eye-slash iconsize";
        this.pastype='text';
      }
      else {
        this.toggle="fa fa-eye iconsize";
        this.pastype='password';
      }
    },
  },
delimiters: ['^*','*^']
    });
</script>
{%endblock%}